<header class="header">
  <div class="inner">
    <div class="header__logo">
      <span>My blog</span>
    </div>
    <div class="header__nav">
      <ul>
        <li>
          <a href="/">Home</a>
          <a href="/all-post">All Post</a>
        </li>
      </ul>
    </div>
  </div>
</header>
