---
title: all-post
layout: "base.njk"


---
<a href="/">Go to Home</a>
{%- for item in collections.post -%}
    <b>{{ item.data.title }}</b>
    <a href="{{ item.data.slug }}"></a>
    <p>{{ item.data.description }}</p>
{%- endfor -%}